@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}



/* navbar */
nav li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	overflow: hidden;
  	top: 0;

}

.logo {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #edf0f1;
	text-decoration: none;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links li a {
	transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
	color: #0088a9;
}

button	{
	padding: 9px 25px;
	background-color: rgba(239,95,32,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover {
	background-color: rgba(239,95,32,0.8);
}
/*end of navbar*/

/*hero*/
.hero	{
	min-height: 500px;
	background-image: url(../img/hero.jpg);
	background-attachment: fixed;
  	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
	margin-top: -150px;
}
.hero span {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vh;
  font-family: "Montserrat", sans-serif;
}
/*end of hero*/

.content {
	height: 300px;
	background-color: #fff;
}
.content span {
  text-align: center;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #222;
  font-size: 3vh;

}
.content span h1, p {
	padding: 10px;
	font-family: "Montserrat", sans-serif;
}


.boxabsen {
  border-radius: 5px;
  background-color: rgba(239,95,32,0.8);
  padding: 20px;
}
.boxabsen h1 {
	text-align: center;
}
table, td, th {  
  border: 1px solid #ddd;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}