 <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
</style> 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 16px/28px Montserrat, sans-serif;
	background-color: #111;
	color: #fff;
}

.container	{
	width: 90%;
	margin: auto;
	background-color: #222;
}

/*header*/
.header {
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
/*end of header*/
/*hero*/
.hero	{
	height: 320px;
	background-image: url(../img/hero.png);
	background-size: cover; 
	background-position: 0 -100px;
}
/*end of hero*/
/*navbar*/
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar .active {
  background-color: #4CAF50;
}

/*end of navbar*/
/*main*/
.main {
	width: 80%;
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
}
.main .penulis {
	font-size: 11px;
	margin-top: -5px;
}
.main .penulis a {
	text-decoration: none;
	color: red;
}
.main p {
	margin-bottom: 20px;
	font-size: 14px;
}

.main h1 {
	font-size: 60px;
	margin : 50px 0;
	text-align: center;
	font-weight: bold;
}
.main li {
	display: inline-block;
	width: 150px;
	height: 150px;
	/*border-radius: 50%;*/
	/*overflow: hidden;*/
	padding: 20px;
	margin-right: 100px;
}

.main li img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.main a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.main a:hover {
	color: #333;
}

/*end of main*/ 

/*footer*/

.footer {
	background-color: #777;
	padding: 10px;
}

.footer .copy {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
/*end of footer*/

/*clearfix*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}




